@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{font-family: "roboto", "Noto Sans KR", sans-serif; background: #f6f6f6;}
*{margin: 0; padding: 0; box-sizing: border-box;}
button{border: none; background: none; cursor: pointer;}
a{text-decoration: none;}
li{list-style: none;}
/* 이미지초기화 */
img{border: none; display: block;}

.cover{
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 104;
    display: none;
}
/* 팝업창 */
.popup{
    background: #ffc20c;
    padding: 10px 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 105;
}
.popup a img{
    width: 100%;
    min-width: 320px;
}
.popup .close{
    height: 30px;
}
.popup .close form{
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup .close form label{
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.popup .close form .txt_btn{
    font-size: 12px;
    color: #333;
}

.m_side_wrap{
    width: calc(100% - 30px);
    height: 100%;
    background: #f6f6f6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    overflow-y: auto;
    left: -100%;
}
.m_side_wrap .m_login{
    width: 100%;
    height: 340px;
    background: #009223;
    padding: 20px 30px;
}
.m_side_wrap .m_login .m_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.m_side_wrap .m_login .m_header>h1>a{
    display: block;
    width: 88px;
    height: 18px;
    text-indent: -99999px;
    background: url("../images/logo_sidemenu.png") no-repeat;
    background-size: 88px;
}
.m_side_wrap .m_login .m_header>ul{
    display: flex;
    align-items: center;
}
.m_side_wrap .m_login .m_header>ul>li:first-child>a{
    display: block;
    width: 40px;
    height: 40px;
    background: url("../images/icon_setting.png") no-repeat;
    background-size: 40px;
    text-indent: -99999px;
}
.m_side_wrap .m_login .m_header>ul>li:last-child>a{
    display: block;
    width: 27px;
    height: 27px;
    background: url("../images/icon_sidemenu_close_02.png") no-repeat;
    background-size: 27px;
    text-indent: -99999px;
}
.m_side_wrap .m_login>p{
    color: #fff;
    font-size: 19px;
    line-height: 26px;
    margin-top: 24px;
}
.m_side_wrap .m_login>.login_btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 24px 0 10px;
}
.m_side_wrap .m_login>.login_btn>li{
    width: 48%;
}
.m_side_wrap .m_login>.login_btn>li>a{
    display: block;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    background: #ffc300;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
.m_side_wrap .m_login>.login_btn>li:last-child>a{
    background: #fff;
    color: #333;
}
.m_side_wrap .m_login>.nomember{
    width: 100%;
    padding: 10px 0;
    background: #62ce07;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}
/* 퀵메뉴 영역 */
.m_side_wrap .quick_menu{
    width: 100%;
    position: relative;
}
.m_side_wrap .quick_menu>ul{
    width: 90%;
    background: #fff;
    border-radius: 28px 0 28px 0;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -45px;
}
.m_side_wrap .quick_menu>ul>li{
    width: 30%;
}
.m_side_wrap .quick_menu>ul>li:first-child,
.m_side_wrap .quick_menu>ul>li:nth-child(2),
.m_side_wrap .quick_menu>ul>li:nth-child(3){
    margin-bottom: 40px;
}
.m_side_wrap .quick_menu>ul>li>a{
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.m_side_wrap .quick_menu>ul>li>a>img{
    width: 45px;
}
.m_side_wrap .quick_menu>ul>li>a>h4{
    font-size: 12px;
    font-weight: 900;
    color: #292929;
    margin-top: 4px;
}

/* m_gnb 영역(아코디언) */
.m_side_wrap .m_gnb{
    width: 100%;
    position: relative;
}
.m_side_wrap .m_gnb>ul{
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
    border-radius: 28px 0 28px 0;
    overflow: hidden;
}
.m_side_wrap .m_gnb>ul>li{
    width: 100%;
    margin-bottom: 2px;
}
.m_side_wrap .m_gnb>ul>li:last-child{
    margin-bottom: 100px;
}
.m_side_wrap .m_gnb>ul>li>a{
    display: block;
    background: #fff;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    gap: 15px;
    position: relative;
}
.m_side_wrap .m_gnb>ul>li>a::before{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #bbb;
    border-top: none;
    border-left: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-70%) rotate(45deg);
    transition: all 0.5s ease-in-out;
}
.m_side_wrap .m_gnb>ul>li>a.on::before{
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid #009223;
    border-top: none;
    border-left: none;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-30%) rotate(225deg);
}
.m_side_wrap .m_gnb>ul>li>a>img{
    width: 26px;
    height: 26px;
}
.m_side_wrap .m_gnb>ul>li>a>h3{
    font-size: 16px;
    font-weight: 800;
    color: #292929;
}
/* 아코디언 2단메뉴 */
.m_side_wrap .m_gnb>ul>li>.depth2{
    width: 100%;
    padding: 25px 61px;
    background: #fcfcfc;
    display: none;
}
.m_side_wrap .m_gnb>ul>li>.depth2>li>a{
    color: #292929;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
}
.m_side_wrap .m_gnb>ul>.last>.depth2{
    border-radius: 0 0 40px 0;
}

/* header영역 */
.header{
    width: 100%;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #f7f7f7;
    position: relative;
}
.header .m_all_btn{
    width: 14px;
    height: 12px;
    background: url("../images/ico_mTopetc04.png") no-repeat;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-indent: -99999px;
}
.header h1{
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -12px 0 0 -60px;
}
.header h1 a{
    background: url("../images/logo_app.png") no-repeat;
    display: block;
    width: 120px;
    height: 24px;
    background-size: 120px 24px;
    text-indent: -99999px;
}
.header .cart{
    background: url("../images/icon_cart.png") no-repeat;
    width: 25px;
    height: 26px;
    background-size: 25px 26px;
    text-indent: -99999px;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -13px;
}
.login{
    width: 100%;
    height: 112px;
    background: #f6f6f6;
    padding: 24px 15px;
    box-sizing: border-box;
}
.login p{
    color: #00020b;
    font-size: 16px;
    font-weight: 700;
}
.login .go{
    float: right;
    color: #009436;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    padding-right: 10px;
}
.login .go::after{
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #009223;
    border-right: 2px solid #009223;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(45deg) translateY(-6px);
}
.main{
    width: 100%;
}
.main .swiper{
    position: relative;
}
.main .swiper .swiper-wrapper .swiper-slide img{
    width: 100%;
}
.main .swiper .swiper-pagination{
    width: 48px;
    height: 22px;
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
    border-radius: 999px;
    position: absolute;
    /* 포지션 초기화 */
    left: unset;
    right: 15px;
    bottom: 15px;
    font-size: 14px;
    line-height: 22px;
}
.main .swiper .swiper-pagination .swiper-pagination-total{
    color: rgba(255, 255, 255, 0.5);
}
.order{
    width: 100%;
    padding: 10px 0;
    background: #f6f6f6;
}
.order ul.orderlist{
    width: 100%;
    /* background: gold; */
    margin: auto;
    padding: 20px;
    /* 자식모두 float일 경우 부모 높이가 0이 되므로 자식높이만큼 부모높이를 감싸줘야함 >overflow:hidden */
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.order ul.orderlist li{
    width: 50%;
    height: 176px;
    border-radius: 16px;
    padding: 18px;
    box-sizing: border-box;
    /* 박스에 드롭쉐도우 주는 명령 */
    box-shadow: 0.7px 1px 10px #e3e3e3;
}
.order ul.orderlist li:first-child{
    background: url(../images/img_fastsub2.png) no-repeat 90% 90% #fff;
    margin-right: 20px;
}
.order ul.orderlist li:last-child{
    background: url(../images/img_homesub2.png) no-repeat 90% 90% #fff;
}
.order ul.orderlist li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #a09694;
    font-size: 16px;
    line-height: 24px;
}
.order ul.orderlist li a span{
    font-weight: 900;
    color: #000;
    font-size: 20px;
    font-family: "roboto";
}
/* 메뉴배너슬라이드 */
.banner,.subcard{
    width: 100%;
    background: #f6f6f6;
    box-sizing: border-box;
}
.banner .tit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 0 20px;
}
.banner .tit h2{
    color: #292929;
    font-size: 18px;
    font-weight: bold;
}
.subcard h2{
    color: #292929;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 20px 0;
}
.banner .tit a img{
    width: 10px;
}
.banner .menu_slide{
    position: relative;
    padding-bottom: 40px;
    padding: 0 10px 10px;
}
.banner .menu_slide .slick-prev,
.banner .menu_slide .slick-next{
    display: none;
}
.banner .menu_slide li{
    width: 50%;
    padding: 0 8px;
}
.banner .menu_slide li a{
    display: block;
    width: 100%;
    height: 100%;
}
.banner .menu_slide li a .imgbox{
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.banner .menu_slide li a .imgbox img{
    width: 100%;
}
.banner .menu_slide li a .info{
    width: 100%;
    text-align: center;
    padding: 15px;
}
.banner .menu_slide li a .info h3{
    font-size: 14px;
    color: #292929;
    margin-bottom: 5px;
}
.banner .menu_slide li a .info p{
    font-size: 12px;
    color: #999;
}
.banner .menu_slide li a .info p sup{
    font-size: 6px;
}
/* 페이지버튼 */
.slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    display: flex;
    gap: 8px;
}
.slick-dots li{
    padding: 0 !important;
}
.slick-dots li button{
    width: 6px;
    height: 6px;
    background: #bdbdbd;
    text-indent: -99999px;
    border-radius: 100%;
    box-sizing: border-box;
}
.banner .menu_slide .slick-dots li.slick-active button{
    background: #009436;
}
.subcard{
    padding-bottom: 80px;
}
.subcard>ul{
    width: 100%;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 20px;
}
.subcard>ul>li{
    width: 50%;
    padding: 15px 0;
    border-radius: 20px;
    background: #fff;
}
.subcard>ul>li:first-child{
    margin-right: 20px;
}
.subcard>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subcard>ul>li>a>.imgbox{
    width: 50%;
}
.subcard>ul>li>a>.imgbox>img{
    display: inline-block;
    width: 60%;
    margin-bottom: 4px;
}
.subcard>ul>li>a>.imgbox>h3{
    font-size: 14px;
    color: #292929;
}

/* 탭바 */
.tabbar{
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 102;
    background: url("../images/navi_bg.png") no-repeat;
    background-size: 100% 80px;
}
.tabbar .tab_navi{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.tabbar .tab_navi ul li a span{
    font-size: 12px;
    color: #d3d3d3;
}
.tabbar .tab_navi ul li.on a span{
    color: #009223;
    font-weight: bold;
}
.tabbar .tab_navi ul li.on a svg path{
    fill: #009223;
}
.tabbar .tab_navi .left_icon{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabbar .tab_navi .left_icon li{
    width: 40%;
    height: 100%;
    /* border: 1px solid blue; */
}
.tabbar .tab_navi .left_icon li a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.tabbar .tab_navi .right_icon{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tabbar .tab_navi .right_icon li{
    width: 40%;
    height: 100%;
}
.tabbar .tab_navi .right_icon li a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}
.tabbar .btn_order{
    width: 80px;
    height: 80px;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); */
    border: 16px solid #f6f6f6;
    box-sizing: content-box;
}
.tabbar .btn_order img{
    width: 28px;
}